<!DOCTYPE html>
{% load staticfiles %}

<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
            integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
            crossorigin="anonymous">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.0/css/all.css" integrity="sha384-Mmxa0mLqhmOeaE8vgOSbKacftZcsNYDjQzuCOm6D02luYSzBG8vpaOykv9lFQ51Y" crossorigin="anonymous">
        <link rel="stylesheet" href="{% static "css/global.css" %}">

        <title>
            Rate My Rating -
            {% block title_block %}
            {% endblock %}
        </title>
    </head>
    <body>
        <!--Using some bootstrap style deploy NavBar-->
        <nav class="navbar navbar-light navbar-expand-lg" style="background-color: #e3f2fd;">

            <!--Home page button-->
            <a class="navbar-brand" href="{% url 'index' %}">Rate my Rating</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

                <!--clickable buttons with login status check-->
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="{% url 'index' %}">Home</a>
                    <a class="nav-item nav-link" href="{% url 'about' %}">About</a>
                    <a class="nav-item nav-link" href="{% url 'websites' %}">All</a>
                    {% if user.is_authenticated %}
                        <a class="nav-item nav-link" href="{% url 'my_account' %}">My Account</a></li>
                        <a class="nav-item nav-link" href="{% url 'logout' %}">Logout</a></li>
                    {% else %}
                        <a class="nav-item nav-link" href="{% url 'login' %}">Sign In</a></li>
                        <a class="nav-item nav-link" href="{% url 'register' %}">Sign Up</a></li>
                    {% endif %}
                </div>

                <div>
                    <form method="GET" action="{% url 'websites' %}" class="form-inline my-2 my-lg-0">
                        <input name="search" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-info my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>

            </div>
        </nav>

        <div class="container">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
                {{ message }}
            </div>
            {% endfor %}
            {% block body_block %}
            {% endblock %}
        </div>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        {% block script_block %}
        {% endblock %}
   </body>
</html>
