{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Home
{% endblock %}

{% block body_block %}

        <h1 class="indexTitle">Top Websites</h1>

        <div class="Top">

            {% for website in top_websites %}
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'website_detail' website.slug %}">{{ website.name }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ website.published }}
                    </h6>
                    <p class="card-text">
                        Number of ratings:
                        {{ website.rating_set.count }}
                        </br>
                        Average rating:
                        {{ website.average_rating }}
                    </p>
                    <a href="{{ website.url }}" class="btn btn-primary">Go to website</a>
                </div>
            </div>
            {% endfor %}
        </div>

            <br>

        <h1 class="indexTitle">Trending websites</h1>

        <div class="Trending">

            {% for website in trending_websites %}
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'website_detail' website.slug %}">{{ website.name }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ website.published }}
                    </h6>
                    <p class="card-text">
                        Number of ratings:
                        {{ website.rating_set.count }}
                        </br>
                        Average rating:
                        {{ website.average_rating }}
                    </p>
                    <a href="{{ website.url }}" class="btn btn-primary">Go to website</a>
                </div>
            </div>
            {% endfor %}

        </div>

        <br>

        <h1 class="indexTitle">New websites</h1>

        <div class="New">

            {% for website in new_websites %}
            <div class="card shadow" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">
                        <a href="{% url 'website_detail' website.slug %}">{{ website.name }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-2 text-muted">
                        {{ website.published }}
                    </h6>
                    <p class="card-text">
                        Number of ratings:
                        {{ website.rating_set.count }}
                        </br>
                        Average rating:
                        {{ website.average_rating }}
                    </p>
                    <a href="{{ website.url }}" class="btn btn-primary">Go to website</a>
                </div>
            </div>
            {% endfor %}

        </div>

{% endblock %}
