<!DOCTYPE html>


<html>
{% extends 'webapp/base.html' %}
    {% block title_block %}
        Home
    {% endblock %}



    {% block body_block %}

        Top Websites
        <br>
        {% for website in top_websites %}
            Name:
            <a href="{% url 'website_detail' website.slug %}">{{ website.name }}</a>
            <br>

            Url:
            {{ website.url }}
            <br>


            Date Posted:
            {{ website.published }}
            Number of ratings:
            {{ website.rating_set.count }}
            <br>

            Average rating:
            {{ website.average_rating }}
            <br>
            <br>
        {% endfor %}

            <br>
            <br>


        Trending websites
        <br>
        {% for website in trending_websites %}
            Name:
            <a href="{% url 'website_detail' website.slug %}">{{ website.name }}</a>
            <br>

            Url:
            {{ website.url }}
            <br>


            Date Posted:
            {{ website.published }}
            Number of ratings:
            {{ website.rating_set.count }}
            <br>

            Average rating:
            {{ website.average_rating }}
            <br>
            <br>
        {% endfor %}
        <br>
        <br>



        New websites
        <br>
        {% for website in new_websites %}
            Name:
            <a href="{% url 'website_detail' website.slug %}">{{ website.name }}</a>
            <br>

            Url:
            {{ website.url }}
            <br>


            Date Posted:
            {{ website.published }}
            Number of ratings:
            {{ website.rating_set.count }}
            <br>

            Average rating:
            {{ website.average_rating }}
            <br>
            <br>
        {% endfor %}

    {% endblock %}

</html>
