{% extends 'webapp/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Edit Account
{% endblock %}

{% block body_block %}
    <div class="row">
        <div class="col-5">
            <h2>Change password</h2>
            <form method="post">
                {% csrf_token %}
                {{ password_form|crispy }}
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Change password</button>
                </div>
            </form>
        </div>
        <div class="col-5 offset-2">
            <h2>Change account details</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ user_form|crispy }}
                {{ profile_form|crispy }}
                <div class="text-center">
                    <button class="btn btn-primary" type="submit">Update account details</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}