{% extends 'webapp/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Upload website
{% endblock %}

{% block body_block %}
    <h1 id="Title">Upload new rating website</h1>
    <div class="col-6 offset-3">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form|crispy }}
            <div style="text-align: center">
                <button type="submit" class="btn btn-primary">Upload</button>
            </div>
        </form>
        <br>
    </div>
{% endblock %}