{% extends 'webapp/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    Sign up
{% endblock %}

{% block body_block %}
<h1 id="Title">Register for Rate my Rating</h1>
<div class="signInUp">
    <strong>Sign up</strong><br />
    <form id="information" method="post" action="{% url 'register' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <!-- Display each form -->
        {{ user_form|crispy }}
        {{ profile_form|crispy }}
        <!-- Provide a button to click to submit the form. -->
        <div style="text-align: center">
            <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
    </form>
    <br>
    <p><strong>-- OR --</strong></p>
    <a href="{% url 'social:begin' 'google-oauth2' %}">Login with Google</a>
</div>
{% endblock %}
