{% extends 'webapp/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Websites
{% endblock %}

{% block body_block %}

        <table class="sortable table">
        <th>Name</th>
        <th>Average rating</th>
        <th>Owner</th>
        <th>Publishing date</th>
        <tr>
        {% for website in websites %}
        <tr>
            <td><a href="{% url 'website_detail' website.slug %}">{{ website.name }}</a></td>
            <td>{{ website.average_rating }}</td>
            <td>{{ website.owner.username }}</td>
            <td sorttable_customkey={{ website.published|date:"YmdHi" }} >{{ website.published }}</td>

        <tr>
        {% endfor %}
    </table>

{% endblock %}

{% block script_block %}
   <script src="sorttable.js"></script>
{% endblock %}
