{% extends 'webapp/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block title_block %}
    {{ website.name }}
{% endblock %}

{% block body_block %}
    <div id="rating_success" class="alert alert-success collapse" role="alert">
        <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Thank you for your feedback!</strong> The rating has been updated.
    </div>
    <div id="rating_error" class="alert alert-danger collapse" role="alert">
        <button type="button" class="close">
            <span aria-hidden="true">&times;</span>
        </button>
        <strong>Something went wrong.</strong> The rating could not been updated.
    </div>

    <div class="row pt-4">
        <div class="col-lg-8 col-12">
            <h2>{{ website.name }}</h2>
            <h5><a href="{{ website.url }}">{{ website.url }}</a></h5>
            <p>
                <strong>Description:</strong><br>
                {{ website.description }}
            </p>
            <p>
                <strong>Published on:</strong><br>
                {{ website.published }}
            </p>
            <p><strong>Thumbnail:</strong></p>
            <p>
            {% if website.thumbnail%}
                <img height="100%" src="{{ website.thumbnail.url }}" alt="Webstie thumbnail"/>
            {% else %}
                <img height="100%" src="https://dummyimage.com/600x400/ffffff/727596.png&text=No+thumbnail+available" alt="No thumbnail available"/>
            {% endif %}
            </p>
        </div>
        <div class="col-lg-4 col-12">
            <div class="card shadow-sm p-4 text-center">
                <h3>Average rating</h3>
                <h4><span id="average_rating">{{ website.average_rating }}</span>/5</h4>
                <br>
                
                {% if user.is_authenticated and user == website.owner %}
                <div>You cannot rate your own website.</div>
                {% elif user.is_authenticated %}
                <div class='rating-stars text-center'>
                    <ul id='stars' class="pl-0">
                        <li class='star' title='Terrible' data-value='1'><i class='fa fa-star fa-fw'></i></li>
                        <li class='star' title='Bad' data-value='2'><i class='fa fa-star fa-fw'></i></li>
                        <li class='star' title='Average' data-value='3'><i class='fa fa-star fa-fw'></i></li>
                        <li class='star' title='Good' data-value='4'><i class='fa fa-star fa-fw'></i></li>
                        <li class='star' title='Excellent' data-value='5'><i class='fa fa-star fa-fw'></i></li>
                    </ul>
                </div>  
                {% else %}
                <div>You have to be logged in to rate websites.</div>
                {% endif %}
            </div>

            {% if ratings %}
            <h4>Latest ratings:</h4>
            <div id="latest_ratings">
                {% for rating in ratings %}
                    <div class="card shadow-sm p-2 d-inline-block col-12 text-center">
                        <h5>{{ rating.rating }} <i class='inline-star fa fa-star fa-fw'></i>
                        <span class="text-secondary"> by {{ rating.user }}</span>
                        </h5>
                    </div>
                {% endfor %}
            </div>
            {% else %}
                <h4>No ratings so far. Be the first to rate this website!</h4>
            {% endif %}
        </div>
    </div>

    <div class="row">
        {% if comments %}
        <h4>Comments:</h4>
        {% for comment in comments %}
            <div class="card col-12 shadow-sm p-2">
                <h5>{{ comment.title }}</h5>
                <p>{{ comment.text }}</p>
                <p class="text-secondary text-right">Published on: {{ comment.published }} by {{ comment.user }}</p>
            </div>
        {% endfor %}
        {% else %}
            <h4>No comments so far. Be the first one!</h4>
        {% endif %}
    </div>

    <div class="row">
        {% if comment_form %}
        <h4>Post comment:</h4>
        <br>
        <div class="card shadow-sm col-12 p-3">
            <form method="post">
                {% csrf_token %}
                {{ comment_form|crispy }}
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">Post comment</button>
                </div>
            </form>
        </div>
        {% endif %}
    </div>
{% endblock %}

{% block script_block %}
    <script type="text/javascript">
        var rating_ajax_url = '{% url "website_update_rating" website.slug %}';
        var csrf_token = '{{ csrf_token }}';
        var current_rating = {{ current_rating }};
    </script>
    <script src="{% static "js/website_detail.js" %}" type="text/javascript"></script>
{% endblock %}